:root {
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --green-2: #245140;
  --green-1: #5a947c;
  --green-0: #629584;

  --yellow-2: #b0b061;
  --yellow-1: #efef75;
  --yellow-0: #fafa2e;

  --grey-2: #273746;
  --grey-1: #87a59a;
  --grey-0: #adbbb5;

  --light-1: #bdd1ca;
  --light-0: #f6f7ef;
  /* --light-0: #909090; */
  --shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  --shadow-1: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
/* section header  */
section#about__section,
section#gallery__section,
section#contact__section {
  padding: 5rem 0;
}

#section__header {
  background: url("./assets/images/bg/section_header.png");
  background-position: center;
  background-repeat: no-repeat;
}
#section__header h2 {
  font-weight: bold;
  position: relative;
  font-size: 1.85rem;
}

/* hero section  */
#hero__section {
  position: relative;
}
#hero__section h1 {
  font-weight: 700;
  font-size: 2.8rem;
  color: #ffffff;
}
#hero__section p {
  font-weight: 400;
  color: var(--light);
  font-size: 1.15rem;
  color: #b1b1b1;
  letter-spacing: 0.6px;
}
#hero__section .carousel-inner {
  min-height: 735px;
}
#hero__section .carousel-item {
  min-height: 735px;
  background-repeat: no-repeat;
  background-size: cover;
}
.carousel-one {
  background-image: url("./assets/images/bg/hero1.jpg");
}
.carousel-two {
  background-image: url("./assets/images/bg/hero2.jpg");
}
.carousel-three {
  background-image: url("./assets/images/bg/hero3.jpg");
}

#hero__section ol.carousel-indicators li,
#hero__section ol.carousel-indicators li.active {
  width: 1.5rem;
  border-radius: 0;
  border: 0;
}

#hero__section ol.carousel-indicators li.active {
  background-color: #b1b1b1;
}

@media screen and (max-width: 480px) {
  #hero__section h1 {
    font-weight: 700;
    font-size: 2.5rem;
    color: #ffffff;
  }
}

/* about section  */
#about__section {
  background: inherit;
}
.about__obj {
  background: 
    url("./assets/images/bg/about-bg.jpg");
  background-position: center;
  background-size: cover;
  clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 80%);
}

/* contact section   */
#contact__section {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/images/bg/contact-bg.jpg");
  background-position: center;
  background-size: cover;
  clip-path: polygon(0 0, 100% 20%, 100% 80%, 0 100%);
}

/* footer section  */
#footer {
  padding: 3.5rem 0 1rem 0;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3)),
    url("./assets/images/bg/footer_bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  color: #839192;
}

#footer .footer-top h4 {
  font-weight: bold;
  color: #f5f5f5;
  text-transform: capitalize;
  position: relative;
  padding-bottom: 0.7rem;
  margin: 0.5rem 0;
}

#footer .footer-top h4::before,
#footer .footer-top h4::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2.5px;
}

#footer .footer-top h4::before {
  right: 0;
  background: var(--grey-1);
}

#footer .footer-top h4::after {
  background: var(--yellow-0);
  width: 6rem;
}

#footer .footer-top .footer-links {
  padding: 1rem;
}

#footer .footer-top .footer-links a {
  transition: 0.3s;
  color: inherit;
}

#footer .footer-top .footer-links a:hover {
  color: var(--yellow-0);
}

#footer .footer-top .footer-contact {
  padding: 1rem;
  color: inherit;
}

/* pages  */
section#about__page,
section#contact__page,
section#gallery__page,
section#homeservices__page,
section#carefoundation__page {
  padding: 5rem 0;
}
/* page header  */
#page_header {
  padding-top: 8.5rem;
}
#page_header h1 {
  background: url("./assets/images/bg/section_header.png");
  background-position: center;
  background-repeat: no-repeat;
}

/*
// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { ... }

// `md` applies to small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { ... }

// `lg` applies to medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { ... }

// `xl` applies to large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... }

// `xxl` applies to x-large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) { ... } */
