:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* hero section  */
#hero {
  position: relative;
}

#hero h1 {
  font-weight: 700;
  font-size: 2.8rem;
  color: #ffffff;
}

#hero p {
  font-weight: 400;
  color: var(--light);
  font-size: 1.15rem;
  color: #b1b1b1;
  letter-spacing: 0.6px;
}

#hero .carousel-item {
  min-height: 720px;
  background-repeat: no-repeat;
  background-size: cover;
}
.carousel-one {
  background-image: url("./assets/images/bg/hero1.jpg");
}
.carousel-two {
  background-image: url("./assets/images/bg/hero2.jpg");
}
.carousel-three {
  background-image: url("./assets/images/bg/hero3.jpg");
}

#hero ol.carousel-indicators li,
#hero ol.carousel-indicators li.active {
  width: 1.5rem;
  border-radius: 0;
  border: 0;
}

#hero ol.carousel-indicators li.active {
  background-color: #b1b1b1;
}

@media screen and (max-width: 480px) {
  #hero h1 {
    font-weight: 700;
    font-size: 2.5rem;
    color: #ffffff;
  }
}
/*
// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { ... }

// `md` applies to small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { ... }

// `lg` applies to medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { ... }

// `xl` applies to large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... }

// `xxl` applies to x-large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) { ... } */